<p
    class="text-3xl py-0.5 mb-10  display: flex; align-items: center; justify-content: center; via flex items-center justify-center classes.">
    Конвертер валют</p>

<h1 class="mb-4">Описание</h1>

<ul>
    <ol class="list-decimal ml-10">
        <li class="text-xl font-semibold">
            <h2>Header с курсом валют</h2>
        </li>
        <ul>
            <div class="ml-10">
                <li>В header-е необходимо отображать актуальный курс валют (USD, EUR) по отношению к гривне (UAH)
                </li>
                <li>Актуальный курс валют должен приходить с любого публичного API</li>
            </div>
        </ul>
        <li class="text-xl font-semibold">
            <h2>Компонент с конвертацией</h2>
        </li>
        <ul>
            <div class="ml-10">
                <li>Для одной валюты должен быть свой input и select</li>
                <li>отдельный input + select для первой валюты, и отдельный input + select для второй валюты</li>
                <li>в input задается число, чтобы указать кол-во единиц для конвертирования</li>
                <li>в select должно быть не менее трех валют - UAH, USD, EUR.
                </li>
                <ol class="list-decimal">
                    <div class="ml-10">
                        <li>при изменении значения в первой валюте, должно пересчитываться значение во второй, и
                            наоборот
                        </li>
                        <li>при изменении валюты в каждом select-е, конвертация обеих валют должна пересчитываться
                            корректно
                        </li>
                    </div>
                </ol>
            </div>
        </ul>



    </ol>
</ul>

<ul>
    <h3>Плюсом будет:
    </h3>
    <div class="ml-10">
        <li>Хорошо продуманный интерфейс и внешний вид</li>
        <li>Чистый код</li>
    </div>
</ul>