<nav>

    <div class="absolute top-0 right-0 left-0 px-5 h-[70px] flex justify-between items-center text-red-600 bg-gray-500">
        <div>
            <h3 class="font-bold">CONVERTER</h3>
            <span class="text-white">
                <a id="valuteCours">
                </a>

            </span>
        </div>

        <marquee id="running-line" class="text-black" direction="left" scrollamount="5"></marquee>
        <span>
            <a routerLink="/" class="mr-2">Products</a>
            <a routerLink="/about">Task</a>
        </span>
    </div>

</nav>